<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= title || 'Stylo Fashion' %></title>

    <link rel="stylesheet" href="/css/output.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,300;9..144,400;9..144,600;9..144,700&display=swap"
      rel="stylesheet"
    />

     <!-- CROPPER JS -->
    <link
  href="https://unpkg.com/cropperjs/dist/cropper.min.css"
  rel="stylesheet"
/>

<script src="https://unpkg.com/cropperjs/dist/cropper.min.js"></script>

    <!-- AXIOS -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- SWEET ALERT -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- TOASTIFY -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
      <!-- Country and State -->
      <script src="https://cdn.jsdelivr.net/npm/country-state-city@3.2.1/dist/csc.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script
      src="https://kit.fontawesome.com/c11a6579fc.js"
      crossorigin="anonymous"
    ></script>


      <style>
  body.modal-open {
    overflow: hidden;
  }
</style>

  </head>
</html>
