<%- include('../partials/head') %>

<body>
  <%- body %>

  <% if (alert) { %>
  <script>
    const alertData = <%- JSON.stringify(alert) %>

    Swal.fire({
      icon: alertData.type,
      title: alertData.title,
      text: alertData.message,
      confirmButtonColor: "#7f1d1d"
    });
  </script>
  <% } %>

</body>
</html>




