<%- include('../partials/head') %>

<body class="bg-gray-50 min-h-screen">

  <%- include('../partials/header') %>

  <main class="max-w-7xl mx-auto px-4 py-6">
    <%- body %>
  </main>

  <%- include('../partials/footer') %>

</body>
</html>
